---
// How do you spell
const content = 'hi!'

const f = 0
console.log(f)
---

<article>
	<div>{content}</div>
	<img alt="kitten" src="https://placekitten.com/200/300" />
	<div>
		{(<h1>{content}</h1>)}
	</div>
</article>

<script>
	const { log: logger } = console
	document.querySelector('h1')?.addEventListener('click', () => {
		logger('clicked')
	})
</script>

<style>
	/* Stylelint should work here */
	#theme-toggle {
		display: none;
		opacity: 0.5;
	}
</style>
