publish-branch=main

# required for pnpm
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*cspell*
public-hoist-pattern[]=@kitschpatrol/npm-config
public-hoist-pattern[]=@kitschpatrol/vscode-config
# public-hoist-pattern[]=@types* TBD